<div class="container progressbar-main" [ngStyle]="{'color': progressbar.color}">
  <div class="row">
    <div class="col center-text">
      <h1>{{progressbar.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="progress progress-bar-bg">
        <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar"
             [attr.aria-valuenow]="progressbar.currentValue"
             [attr.aria-valuemin]="0"
             [attr.aria-valuemax]="progressbar.goalValue"
             [ngStyle]="{'width': progressbarWidth + '%', 'background-color': progressbar.color}">
          {{progressbar.currentValue}} {{progressbar.currency}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col left-text">
      0 {{progressbar.currency}}
    </div>
    <div class="col center-text">
    </div>
    <div class="col right-text">
      {{progressbar.goalValue}} {{progressbar.currency}}
    </div>
  </div>
</div>
