.left-text {
  text-align: left;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.progress-bar-bg {
  height: 50px;
}

.progressbar-main {
  font-size: 20px;
}

.progress {
  .progress-bar {
    font-size: 20px;
  }
}
