<div class="background">
  <div class="container ">
    <div class="card card-body-margin">
      <div class="card-body">
        <div class="buttons-row">
          <app-progressbar-form (onSave)="addNewProgressBar($event)"></app-progressbar-form>
          <button class="btn btn-outline-primary float-right" (click)="getProgressBars()">Refresh</button>
        </div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Current value</th>
            <th>Goal value</th>
            <th>Currency</th>
            <th>Operations</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let progressbar of progressbars">
            <td>{{progressbar.name}}</td>
            <td>{{progressbar.currentValue}}</td>
            <td>{{progressbar.goalValue}}</td>
            <td>{{progressbar.currency}}</td>
            <td>
              <app-progressbar-form [model]="progressbar" buttonClass="btn btn-outline-warning"
                                    buttonName="Update"></app-progressbar-form>
              <a class="btn btn-outline-success"
                 [routerLink]="['/progressbar/show/', progressbar.id]">
                Show
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
