<div class="row align-items-center justify-content-center login-form background">
  <div class="col"></div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="login()">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"> User Name : </label>
            <div class="col-sm-9">
              <input class="form-control" type="text"
                     [(ngModel)]="model.username" name="username"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"> Password: </label>
            <div class="col-sm-9">
              <input class="form-control" type="password"
                     [(ngModel)]="model.password" name="password"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <div class="text-right">
                <input class="btn btn-success" type="submit" value="Login"/>
                <a class="btn btn-warning" (click)="signUp()">Sign up</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
