<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Form progress bar</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form>
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input [(ngModel)]="model.name" class="form-control" id="name" name="name" aria-describedby="name-help"
               placeholder="Enter name">
        <small id="name-help" class="form-text text-muted">Name of your progress bar</small>
      </div>
      <div class="form-group">
        <label for="currency">Currency</label>
        <input [(ngModel)]="model.currency" class="form-control" id="currency" name="currency"
               aria-describedby="currency-help"
               placeholder="Enter currency">
        <small id="currency-help" class="form-text text-muted">Text filled next to value</small>
      </div>
      <div class="form-group">
        <label for="current-value">Current value</label>
        <input [(ngModel)]="model.currentValue" type="number" class="form-control" name="currentValue"
               id="current-value"
               aria-describedby="current-value-help"
               placeholder="Enter current value">
        <small id="current-value-help" class="form-text text-muted">Your collected value</small>
      </div>
      <div class="form-group">
        <label for="goal-value">Goal value</label>
        <input [(ngModel)]="model.goalValue" type="number" class="form-control" id="goal-value" name="goalValue"
               aria-describedby="goal-value-help"
               placeholder="Enter goal value">
        <small id="goal-value-help" class="form-text text-muted">Max value</small>
      </div>
      <div class="form-group">
        <label for="color">Color</label>
        <input [(ngModel)]="model.color" class="form-control" name="color" id="color" [(colorPicker)]="color"
               aria-describedby="color-help" [style.background]="'#' +model.color"
               (colorPickerChange)="model.color=$event.substr(1)" [cpAlphaChannel]="'always'"/>
        <small id="color-help" class="form-text text-muted">Background color for your progressbar</small>
      </div>
      <div class="form-group">
        <label for="textColor">Text color</label>
        <input [(ngModel)]="model.textColor" class="form-control" name="textColor" id="textColor"
               [(colorPicker)]="color"
               aria-describedby="textColor-help" [style.background]="'#' +model.textColor"
               (colorPickerChange)="model.textColor=$event.substr(1)" [cpAlphaChannel]="'always'"/>
        <small id="textColor-help" class="form-text text-muted">Text color for your progressbar</small>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" (click)="c()">Save</button>
      <button type="button" class="btn btn-outline-dark" (click)="d()">Close</button>
    </div>
  </form>
</ng-template>
<button class="{{buttonClass}}" (click)="open(content)">{{buttonName}}</button>

